[project]
	description = Lab for uefi basic training
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hsienchieh
[access "refs/for/refs/*"]
	read = group user/hsienchieh
	push = group user/hsienchieh
	label-Code-Review = -2..+2 group user/hsienchieh
	label-Verified = -1..+1 group user/hsienchieh
	rebase = group user/hsienchieh
	removeReviewer = group user/hsienchieh
	submit = group user/hsienchieh
[access "refs/heads/*"]
	read = group user/hsienchieh
	create = group user/hsienchieh
	push = +force group user/hsienchieh
	pushMerge = group user/hsienchieh
[access "refs/tags/*"]
	push = +force group user/hsienchieh
	pushTag = group user/hsienchieh
	pushSignedTag = group user/hsienchieh
